body{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  font-size: large;
  color: white
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  /*color: white;*/
}
ul li{
  float: left;
  width: 100%;
  height: 40px;
  background-color:blue ;
  opacity: 0.8;
  line-height: 40px;
  text-align:center;
  font-size: 20px
}
ul li a{
  text-decoration: none;
  color: white;
  display: block;
}
ul li a:hover{
  background-color:plum;

}

ul li ul li{
  display:none;
}

ul li:hover ul li{
  display: block;
}

.cl-form-control {
  margin-bottom: 5px;
}

.cl-text-bold{
  width: max-content;
  height: 30px;
  background:#339FFF;
  font-weight: bold;
}

.cl-form-top-padding{
  margin-bottom: 2em;
}

#content {
  background: #D0E5FF;
  padding: 20px;
  color: #00214B;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8;
}
#footer {
  background: #0070FF;
  line-height: 2;
  text-align: center;
  color: #042E64;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 1px 0 #84BAFF;
  box-shadow: 0 0 15px #00214B
}
