
<body>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a href="widget-list.html" class="cl-text-black cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="navbar-brand navbar-text cl-text-white cl-text-bold" href="#">
        Choose Widget
      </a>
    </div>


  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a href="widget-heading.html">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Text Input</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="widget-image.html">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="widget-youtube.html">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Repeater</a>
    </li>
  </ul>
</div>

<nav class="navbar  navbar-light bg-light fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
    </div>
    <div class = "navbar-text">
      <a href="profile.html" class="cl-icon-padding">
        <span class="fas fa-user"></span>
      </a>
    </div>
  </div>

</nav>
</body>
