
<body>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid row">

    <div class="navbar-text pull-left">
      <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
         class="cl-text-black cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="navbar-brand navbar-text cl-text-white cl-text-bold"
         routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/new">
        Choose Widget
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless" *ngFor="let widget of widgets">
    <li class="list-group-item cl-list-item-borderless">
      <button (click)= "creat(widget)" class = "btn btn-primary cl-text-bold">{{widget.widgetType}}</button>
    </li>
  </ul>
</div>

<nav class="navbar  navbar-light bg-light fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
    </div>
    <div class = "navbar-text">
      <a routerLink="/profile"
         class="cl-icon-padding">
        <span class="fas fa-user"></span>
      </a>
    </div>
  </div>

</nav>
</body>
