<body>
<div *ngIf="noName"
     class="alert alert-danger">
  {{errorMsg}}
</div>
<nav class = "navbar navbar-brand cl-blue-navbar fixed-top cl-full-width">
  <div class="row " >
    <div class="col-sm-4 navbar-text  cl-blue-navbar"  id = "division2">
      <a routerLink="/user/website" class="navbar-link cl-text-white">
        <span class="fas fa-chevron-left"></span>
      </a>
      <a  class="cl-text-white navbar-brand cl-text-bold" routerLink="/user/{{userId}}/website" id = "websites">
        Websites
      </a>
      <a (click) ="create()" class="navbar-link navbar-text float-right cl-text-white">
        <span class="fas fa-plus" id = "icon-plus"></span>
      </a>
    </div>

    <div class="col-sm-8 navbar-text  cl-blue-navbar">
      <div class="container-fluid">
        <a routerLink="/user/website" class="navbar-link cl-text-white" id = "icon-chev2">
          <span class="fas fa-chevron-left"></span>
        </a>
        <a class="cl-text-white navbar-brand cl-text-bold" class="cl-text-white navbar-brand cl-text-bold" routerLink="/user/{{userId}}/website/new">
          New Websites
        </a>
        <a (click) ="create()" class="navbar-link navbar-text float-right cl-text-white " id = "icon-ok">
          <span class="fas fa-check"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
<div class = "row">
  <div class="col-sm-4" id = "division-col1">
    <ul class="list-group cl-list-group-borderless" *ngFor="let web of websites">
      <li class="list-group-item cl-list-item-borderless">
        <a routerLink="/user/{{userId}}/website/{{web['_id']}}"><span class="fas fa-cog float-right"></span></a>
        <a routerLink="/user/{{userId}}/website/{{web['_id']}}/page">{{web['name']}}</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-8" id = "division-col2">
    <form>
      <div class="form-group">
        <label for="website-name">Name</label>
        <input [(ngModel)] = "curweb['name']" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="website-name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="website-description">Description</label>
        <textarea [(ngModel)] = "curweb['description']" [ngModelOptions]="{standalone: true}" id="website-description" class="form-control" rows="5" placeholder="Description"></textarea>
      </div>
    </form>
  </div>
</div>


<nav class="navbar fixed-bottom cl-blue-navbar">
  <div class="container-fuild">
  </div>
  <a routerLink="/profile" class="navbar-text cl-text-white cl-icon-padding">
    <span class="fas fa-user cl-text-white " id = "icon-user"></span>
  </a>
</nav>
</body>
