
<a class = "button" routerLink="/login">Login</a>​
<a class = "button" routerLink="/register">Register</a>​
<a class = "button" routerLink="/user/:uid">Profile</a>​

<a class = "button" routerLink="user/:uid/website">Website-List</a>​
<a class = "button" routerLink="user/:uid/website/new">Website-New</a>​
<a class = "button" routerLink="user/:uid/website/:wid">Website-Edit</a>​

<a class = "button" routerLink="user/:uid/website/:wid/page">Page-List</a>​
<a class = "button" routerLink="user/:uid/website/:wid/page/new">Page-New</a>
​<a class = "button" routerLink="user/:uid/website/:wid/page/:pid">Page-Edit</a>​

​<a class = "button" routerLink="user/:uid/website/:wid/page/:pid/widget">Widget-List</a>​
​<a class = "button" routerLink="user/:uid/website/:wid/page/:pid/widget/new">Widget-Chooser</a>​
​<a class = "button" routerLink="user/:uid/website/:wid/page/:pid/widget/:wgid">Widget-Edit</a>​


<!--<script>-->
  <!--$(function) {-->
    <!--$(#sortable)-->
  <!--}-->
  <!---->
<!--</script>-->


<router-outlet></router-outlet>
