<body>
<div *ngIf="noName"
     class="alert alert-danger">
  {{errorMsg}}
</div>
<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid row">

    <div >
      <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
         class="cl-text-black cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a  class = "navbar-brand navbar-text cl-text-black cl-text-bold"
          routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/{{widgetid}}/image">
        Widgets Edit
      </a>
    </div>

    <div class="navbar-text float-right">
      <a (click)= "update()"
         class="cl-icon-padding cl-text-black">
          <span class="fas fa-check">
          </span>
      </a>
    </div>

  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="image-name">Name</label>
      <input [(ngModel)]="widget['name']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="image-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="image-text">Text</label>
      <input [(ngModel)]="widget['text']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="image-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input [(ngModel)]="widget['url']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="image-URL" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input [(ngModel)]="widget['width']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="image-width" placeholder="100%">
    </div>
    <!--<div class="form-group">-->
      <!--<label for="exampleFormControlFile1">Upload</label>-->
      <!--<input (change)="onFileChange($event)" type="file" class="form-control-file" id="exampleFormControlFile1">-->
    <!--</div>-->

    <form ngNoForm action="{{baseUrl}}/api/widget/{{widgetid}}" method="post" enctype="multipart/form-data">
      <input  name="myFile"   type="file" class="form-control"/>
      <input  name="widgetId" value="{{widgetid}}"   style="display: none"/>
      <input  name="websiteId" value="{{webid}}"   style="display: none"/>
      <input  name="pageId" value="{{pageid}}"   style="display: none"/>
      <input  name="userId" value="{{userid}}"   style="display: none"/>
      <button type="submit"  onclick = "submit()" class="btn btn-block btn-primary">Upload Image</button>
      <br/>
    </form>
  </form>
  <a class="btn btn-primary btn-block "
     [routerLink]="['/user/'+'/website/'+webid+'/page/'+pageid+'/widget/'+widgetid+'/flickr']" >Choose From Flickr</a>
  <a (click)="delete()" class="btn btn-danger  btn-block">Delete</a>
</div>

<nav class="navbar  navbar-light bg-light fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
    </div>
    <div class = "navbar-text">
      <a routerLink="/profile" class="cl-icon-padding">
        <span class="fas fa-user"></span>
      </a>
    </div>
  </div>

</nav>

</body>
