<body>
<div *ngIf="noName"
     class="alert alert-danger">
  {{errorMsg}}
</div>

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<nav class="navbar navbar-brand navbar-light bg-light fixed-top">
  <div class="container-fluid row">

    <div >
      <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/"
         class="cl-text-black cl-icon-padding" >
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="navbar navbar-text cl-text-white cl-text-bold"
         routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/{{widgetid}}/youtube">
        Widgets Edit
      </a>
    </div>

    <div class="navbar-text pull-right" >
      <a  (click)="update()"
          class= "cl-icon-padding cl-text-black">
          <span class="fas fa-check">
          </span>
      </a>
    </div>

  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input [(ngModel)]="widget['name']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input [(ngModel)]="widget['text']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input [(ngModel)]="widget['url']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-URL" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [(ngModel)]="widget['width']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
  </form>
  <a (click)="delete()"
     class="btn btn-danger btn-block" >Delete</a>
</div>

<nav class="navbar  navbar-light bg-light fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
    </div>
    <div class = "navbar-text">
      <a routerLink="/user/{{userid}}" class="cl-icon-padding">
        <span class="fas fa-user"></span>
      </a>
    </div>
  </div>

</nav>
</body>
