<body>

<nav class="navbar navbar-brand navbar-light bg-light fixed-top">
  <div class="container-fluid row">
    <div>
      <a routerLink="/user/{{userid}}/website/{{webid}}/page" class="cl-text-black cl-icon-padding">
          <span class="fas fa-chevron-left">
          </span>
      </a>
      <a class="navbar-brand navbar-text cl-text-white cl-text-bold"
         routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget">
        Widgets
      </a>
    </div>
    <div class="navbar-text float-right">
      <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/new"
         class="cl-icon-padding cl-text-black">
          <span class="fas fa-plus">
          </span>
      </a>
    </div>

  </div>
</nav>

<div class="container cl-container-padding" >
  <div class="widget-list" appSortable (newIndexes)="reorderWidgets($event)">
  <div *ngFor="let widget of widgets | orderBy">
  <div [ngSwitch]="widget['widgetType']">
    <div class="jga-widget">
    <div *ngSwitchCase="'HEADER'"  >
      <div class="float-right">
        <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
           class="float-right">
          <router-outlet (click)="onActivate()" >
            <span class="fas fa-bars"></span>
          </router-outlet>
        </a>
        <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/{{widget['_id']}}">
          <span class="fas fa-cog"></span>
        </a>
      </div>
      <div [ngSwitch]="widget['size']">
        <div *ngSwitchCase="1">
          <h1>{{ widget['text'] }}</h1>
        </div>
        <div *ngSwitchCase="2">
          <h2>{{ widget['text'] }}</h2>
        </div>
        <div *ngSwitchCase="3">
          <h3>{{ widget['text'] }}</h3>
        </div>
        <div *ngSwitchCase="4">
          <h4>{{ widget['text'] }}</h4>
        </div>
        <div *ngSwitchCase="5">
          <p>{{ widget['text'] }}</p>
        </div>
        <div *ngSwitchCase="6">
          <h6>{{ widget['text'] }}</h6>
        </div>
      </div>
    </div>


    <div *ngSwitchCase="'IMAGE'" >
        <div class="float-right">
          <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
             class="float-right">
            <router-outlet (click)="onActivate()">
              <span class="fas fa-bars"></span>
            </router-outlet>
          </a>
          <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/{{widget['_id']}}">
            <span class="fas fa-cog"></span>
          </a>
        </div>
        <img class="img-responsive img-rounded cl-widget-images"
             src="{{widget['url']}}">
    </div>


    <div *ngSwitchCase="'YOUTUBE'">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class = "embed-responsive-item" width="640" height="360"
                [src]="getUrl(widget)"
                frameborder="0"
                allow="accelerometer autoplay encrypted-media gyroscope picture-in-picture"
                allowfullscreen>
        </iframe>
        <div class = "overlay cl-relative-position">
          <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
             class="float-right overlay cl-relative-position">
            <router-outlet (click)="onActivate()" >
              <span class="fas fa-bars cl-white-background" ></span>
            </router-outlet>
          </a>
          <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget/{{widget['_id']}}"
             class="float-right overlay cl-relative-position">
            <span class="fas fa-cog cl-relative-position cl-white-background" ></span>
          </a>
        </div>
      </div>
    </div>
    </div>

    </div>
   </div>
  </div>
</div>

<nav class="navbar navbar-brand navbar-light bg-light fixed-bottom">
  <div class="container-fluid row">
    <div class="float-left navbar-text">
      <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
         class="cl-icon-padding">
        <router-outlet (click)="onActivate()" >
          <span class="fas fa-play"></span>
        </router-outlet>
      </a>
      <a routerLink="/user/{{userid}}/website/{{webid}}/page/{{pageid}}/widget"
         class="cl-icon-padding">
        <router-outlet (click)="onActivate()">
          <span class="fas fa-eye"></span>
        </router-outlet>
      </a>

    </div>
    <div class="float-right navbar-text">

      <a routerLink="/user/{{userid}}" class="cl-icon-padding">
        <span class="fas fa-user"></span>
      </a>

    </div>
  </div>
</nav>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
<script
  src="http://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
